apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ${APP_NAME}-argocd-${ENVIRONMENT}
  namespace: argocd
  labels:
    app: ${APP_NAME}
    environment: ${ENVIRONMENT}
    essesseff: "true"
spec:
  project: default
  source:
    repoURL: https://github.com/${GITHUB_ORG}/${APP_NAME}-argocd-${ENVIRONMENT}
    targetRevision: main
    path: argocd
  destination:
    server: https://kubernetes.default.svc
    namespace: argocd
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      
